@layer utilities {
  .clip-path {
    clip-path: inset(0% 0 0% 0);
  }

  .clip-path-rounded {
    clip-path: inset(0% 0 0% 0 round theme("borderRadius.3xl"));

    @media (min-width: theme("screens.md")) {
      clip-path: inset(0% 0 0% 0 round theme("borderRadius.4xl"));
    }
  }

  .sides-mask {
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.8) 10%,
      rgba(255, 255, 255, 0.8) 90%,
      transparent 100%
    );
  }

  .bottom-mask {
    mask-image: linear-gradient(0, transparent 0%, rgba(255, 255, 255, 1) 25%);
  }

  .disable-mask {
    mask-image: none;
  }
}
